.tituloPreguntas {
    font-size: 35px;
    margin-top: 50px;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #fff;
    text-decoration: underline;
}

.tituloPreguntas img {
    width: 100%;
    list-style-type: square;
}

.container-frecuentes {
    display: grid;
    grid-template-columns: (1, 1fr);
    gap: 1em;
    grid-template-rows: minmax(100px, auto);
}

.container-frecuentes div {
    padding: 1em;
    background-color: #212529;
    margin: 5px;
    color: white;
}

div {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    display: list-item;
}

.preguntas {
    color: white;
    font-family: "Dela Gothic One", cursive;
    text-decoration: underline;
}


/** ====================
* Grids 2da Parte
=======================*/

.ayuda {
    text-decoration: underline;
    font-size: 20px;
    display: grid;
    gap: 10px;
    color: burlywood;
    margin-left: 700px;
}

.msjauto {
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: (1, 1fr);
    justify-items: center;
    margin: 20px;
}

.msjauto a {
    border: 1px solid;
    text-align: center;
    background: white;
    margin: 20px;
}

.msjauto a:hover {
    background: black;
}

#text-area {
    margin-left: 500px;
    text-align: center;
}

#boton-text-area {
    margin-left: 890px;
}

input {
    font-size: 20px;
    .input:hover {
        color: blue;
    }
}

ul {
    list-style-type: disc;
}
