.card {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  list-style-type: none;
}

img {
  height: 300px;
  width: 320px;
}

.card-item {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 20px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  padding: 20px;
  color: chocolate;
  border: 1px solid #000;
}

.img-product {
  border: 1px solid #000;
}
