.first-div{
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph{
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: orange;
  display: flex;
  justify-content: center;
}

#button{
  margin-left: 865px;
  width: 10%;
}
